$color1:#00C89D;
$color2:#0663A7;
$color3:#F1BE00;
$test:#41B8F4;
$back-window:rgba(12, 25, 45, 0.7);
@mixin window($height:319px, $width:310px) {
    height: $height;
    width: $width;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    background-image: url(../images/Rectangle3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@mixin position-x-y-center($height, $width) {
    position: absolute;
    top: calc(50% - $height);
    left: calc(50% - $width);
}

body {
    background-color: #000;
}

div.body {
    position: absolute;
    width: 1440px;
    height: 791px;
    top: calc(50% - 395px);
    left: calc(50% - 720px);
    background-image: url("../images/body_bg.jpg");
    background-repeat: no-repeat;
}

.header {
    text-align: center;
}

@mixin chart($top,
$left) {
    @include window();
    &>div.chart {
        height: 100%;
        width: 100%;
    }
    position: absolute;
    top: $top;
    left: $left;
    &>.title {
        position: absolute;
        top: 26px;
        left: 33px;
        font-size: 19px;
        color: #CDECFF;
        font-weight: bold;
    }
}

.chart1 {
    @include chart(10%,
    3%);
}

.chart2 {
    @include chart(53%,
    3%);
}

.chart3 {
    @include chart(10%,
    77%);
}

.chart4 {
    @include chart(53%,
    77%);
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
        height: 14px;
        background-color: rgba(85, 103, 126, 0.5);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgb(85,103,126);
        border-radius: 10px;
    }
}

@mixin table($height,
$width) {
    table-layout: fixed;
    width: $width;
    height: $height;
    tr {
        height: 37px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: rgba(24, 46, 70, 0.8);
    }
    &>thead>tr {
        &>th {
            width: 34%;
            text-align: center;
        }
    }
    &>tbody {
        height: 185px;
        width: 276px;
        overflow: auto;
        display: block;
        @include scrollbar();
        &>tr {
            width: 100%;
            height: 32px;
            line-height: 32px;
            display: flex;
            margin: 10px 0px;
            td {
                flex: 1;
                height: 32px;
                text-align: center;
                float: left;
                overflow: hidden;
                padding: 0;
            }
        }
    }
}

#chart4 {
    height: 229px;
}

#chart4table {
    margin-top: 30px;
    margin-left: calc(50% - 138px);
    @include table(222px,
    276px);
    border-spacing: 0;
    padding-top: 10px;
}